---
layout: default
title: Home
---

<!-- .page-header -->
<div class="page-header">
    <h1>{{ site.author.name }}</h1>

    <p>A full-stack ninja, currently in Dubai, helping<a href="http://tajawal.com" target="_blank" rel="external">Tajawal</a>kick some asses in the travel domain. I am quite active on<a href="http://github.com/kamranahmedse" target="_blank" rel="external">Github</a>and this is the place where I blab about the technical stuff and sometimes about the stuff in general.</p>

    <p>Feel free to <a href="mailto:kamranahmed.se@gmail.com?subject=kamranahmed.info">drop me a line</a> or <a
            href="{{ site.pages_list.Feed }}">subscribe to RSS</a>.</p>
</div>
<!-- /.page-header -->

<hr>

<div class="archive">
    <ul class="posts">
        {% for post in site.categories.blog %}

        {% assign currentdate = post.date | date: "%Y" %}
        {% if currentdate != date %}
        <li id="y{{currentdate}}"><h2 class="archive-title">{{ currentdate }}</h2></li>
        {% assign date = currentdate %}
        {% endif %}

        <li class="article-list-item">
            <span class="title"><a href="{{ post.url }}">{{ post.title }}</a></span>
            <span class="date">{{ post.date | date_to_string }}</span>
        </li>
        {% endfor %}
    </ul>
</div>
