* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0
}

body, strong {
    color: #333
}

.post-anch a, code {
    font-style: normal
}

.post-anch a, .post-meta a, .side-nav li a, a {
    text-decoration: none
}

.left {
    float: left
}

.right {
    float: right
}

.clr {
    clear: both
}

.text-center {
    text-align: center
}

code {
    padding: 3px 5px 5px;
    font-weight: 400;
    color: #d44950;
    background-color: #f5f5f5;
    border-radius: 3px
}

pre.highlight {
    line-height: 24px
}

h1 {
    font-size: 45px
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 25px
}

h1, h2, h3 {
    font-family: Lato, sans-serif;
    color: #000;
    font-weight: 900
}

.post-anch a, .post-page-nav, a.post-nav-btn, li.nav-head, strong {
    font-weight: 700
}

h2.archive-title {
    margin: 45px 0 25px
}

ol li, p, ul li {
    margin: 20px 0
}

em {
    color: #666
}

em, strong {
    padding-left: .1em;
    padding-right: .1em
}

p {
    line-height: 31px;
    color: #4D4D4D;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased
}

ol, ul {
    margin-top: 35px;
    margin-bottom: 40px;
    padding-left: 50px
}

ol li, ul li {
    line-height: 30px
}

.article-list-item {
    margin: 10px 0
}

.archive a, .site-footer a, blockquote p, body {
    margin: 0
}

blockquote {
    background: #f5f5f5;
    padding: 25px 30px;
    margin: 10px 0
}

a {
    color: #008aff;
    margin: 0 5px
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    width: 40%;
    margin: 50px auto
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px
}

.post-row {
    line-height: 35px
}

.post-anch a {
    font-family: "PT Serif", Georgia, "Times New Roman", serif;
    text-rendering: optimizeLegibility
}

.post-meta, .posts .date, a.post-nav-btn {
    font-family: Lato, sans-serif
}

.page-wrap {
    max-width: 760px;
    margin: 45px auto;
    padding: 6px 20px;
    position: relative
}

.page-header {
    margin-bottom: 30px
}

.page-header .muted {
    color: #AEAEAE
}

.page-header .search-box {
    background: 0 0;
    border: none;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    text-align: right;
    outline: 0
}

.articles-area {
    display: block;
    width: 100%;
    margin-top: 90px
}

.articles-area ul.posts {
    list-style-type: none;
    margin: 0 0 75px;
    padding: 0;
    line-height: 2
}

.posts .date {
    text-transform: uppercase;
    float: right
}

.footer, .posts .date {
    font-size: 14px;
    color: #999
}

.post-body a {
    border-bottom: 1px solid #ddd
}

.site-footer {
    border-top: 1px dashed #ccc;
    padding: 15px 0;
    font-size: 13px;
    margin-top: 65px;
}

.site-footer p {
    margin: 10px 0;
    line-height: 20px;
}

.post-anch a {
    color: #222;
    display: block
}

.post-meta {
    color: #c1c1c1;
    text-align: left;
    margin-bottom: 30px;
    opacity: 0.4;
}

.post-meta:hover {
    opacity: 1;
}

.post-meta strong {
    color: #a7a7a7
}

.post-nav a {
    border-bottom: none
}

.post-item > h1 {
    font-size: 45px;
    margin-bottom: 14px
}

.post-body h1, .post-body h2 {
    margin: 35px 0 25px
}

.post-body img {
    width: 100%;
    margin: 20px 0
}

.side-nav li {
    list-style-type: none
}

.side-nav li a {
    font-size: 14px;
    border-bottom: 1px solid #ccc
}

.post-meta {
    font-size: 15px;
    margin-bottom: 40px
}

#mc_embed_signup {
    margin-top: 40px;
    margin-bottom: 50px
}

#mce-email {
    width: 460px;
    padding: 10px;
    background: #fff;
    border: 3px solid #ccc;
    border-radius: 2px;
    margin-right: 10px;
    font-size: 14px;
    outline: 0;
    width: 70%;
}

#mc-embedded-subscribe {
    padding: 10px;
    background: #008aff;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    font-size: 14px;
    border: 2px solid #008aff;
    text-transform: uppercase
}

code.hljs {
    padding: 0 1em 1.5em;
    font-size: 15px;
    margin-bottom: 1rem
}

.page-top-nav {
    padding: 15px 0 0;
    font-size: 13px;
    color: #ddd;
    display: block;
    position: relative;
    top: -50px
}

.post-meta a, .post-page-nav a {
    padding: 0;
    margin: 0
}

.page-top-nav a {
    color: #222
}

.post-meta a {
    border: 0;
    font-size: 30px
}

.post-page-nav {
    position: absolute;
    top: 0
}

.article-page-nav {
    padding: 15px 20px 20px;
    margin-bottom: -65px;
}

a.post-nav-btn {
    font-size: 15px;
    display: inline-block;
    margin: -10px 0;
    padding: 16px;
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: .5em .5em 1.7em;
    background: #23241f;
    -webkit-text-size-adjust: none
}

.css .hljs-function .hljs-preprocessor, .css .hljs-rules, .css .hljs-value, .hljs, .hljs-pragma, .hljs-tag {
    color: #f8f8f2
}

.hljs-emphasis, .hljs-strong, .hljs-strongemphasis {
    color: #a8a8a2
}

.alias .hljs-keyword, .hljs-blockquote, .hljs-bullet, .hljs-hexcolor, .hljs-horizontal_rule, .hljs-literal, .hljs-number, .hljs-regexp {
    color: #ae81ff
}

.css .hljs-class, .hljs-class .hljs-title:last-child, .hljs-code, .hljs-tag .hljs-value, .hljs-title {
    color: #a6e22e
}

.hljs-link_url {
    font-size: 80%
}

.hljs-strong, .hljs-strongemphasis {
    font-weight: 700
}

.hljs-class .hljs-title:last-child, .hljs-emphasis, .hljs-strongemphasis {
    font-style: italic
}

.alias .hljs-keyword:first-child, .css .hljs-important, .css .hljs-tag, .css .unit, .hljs-attribute, .hljs-change, .hljs-flow, .hljs-function, .hljs-header, .hljs-keyword, .hljs-symbol, .hljs-symbol .hljs-string, .hljs-tag .hljs-title, .hljs-value, .hljs-winutils, .nginx .hljs-title, .tex .hljs-special {
    color: #f92672
}

.css .hljs-attribute, .hljs-class .hljs-keyword:first-child, .hljs-constant, .hljs-function .hljs-keyword {
    color: #66d9ef
}

.hljs-class .hljs-title, .hljs-params, .hljs-variable {
    color: #f8f8f2
}

.apache .hljs-cbracket, .apache .hljs-tag, .css .hljs-id, .django .hljs-filter .hljs-argument, .django .hljs-template_tag, .django .hljs-variable, .hljs-addition, .hljs-attr_selector, .hljs-built_in, .hljs-envvar, .hljs-link_label, .hljs-link_url, .hljs-prompt, .hljs-pseudo, .hljs-stream, .hljs-string, .hljs-subst, .hljs-type, .ruby .hljs-class .hljs-parent, .smalltalk .hljs-array, .smalltalk .hljs-class, .smalltalk .hljs-localvars, .tex .hljs-command {
    color: #e6db74
}

.apache .hljs-sqbracket, .hljs-annotation, .hljs-comment, .hljs-decorator, .hljs-deletion, .hljs-doctype, .hljs-javadoc, .hljs-pi, .hljs-shebang, .hljs-template_comment, .tex .hljs-formula {
    color: #75715e
}

.coffeescript .javascript, .javascript .xml, .php .xml, .tex .hljs-formula, .xml .css, .xml .hljs-cdata, .xml .javascript, .xml .php, .xml .vbscript {
    opacity: .5
}

.label {
    font-size: 12px;
    padding: 2px 10px;
    border-radius: 2px;
    font-family: Lato, sans-serif;
    position: relative;
    top: -3px;
    font-weight: normal;
    margin-right: 5px;
}

.label-info {
    background: #2574b5;
    color: white;
}

.post-body ul li, .post-body ol li {
    margin: 10px 0;
}

.series-footer {
    margin: 55px 0;
}

.series-footer a {
    padding: 10px;
    border: none;
    background: whitesmoke;
    margin: 0;
    display: block;
    line-height: 20px;
    border-radius: 3px;
    font-weight: bold;
}

.series-footer a span {
    display: block;
    font-size: 13px;
    font-weight: normal;
    margin-bottom: 4px;
}

dl {
    margin: 30px 0 30px 30px;
}

dt {
    font-weight: bold;
    font-family: Lato, sans-serif;
    margin: 10px 0 5px;
}

dd {
    margin-bottom: 25px;
    line-height: 29px;
}

.series-info ul {
    margin: 15px 0 0;
    padding: 0 0 0 20px;
}

.series-info ul li {
    margin: 0;
    list-style: none;
}

.series-info .active-article {
    margin-left: 5px;
    font-weight: bold;
}
