<head>
    <meta charset="UTF-8">

    <!-- Enable responsiveness on mobile devices-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>
        {% if page.title == "Home" %}
            {{ site.title }} &middot; {{ site.tagline }}
        {% else %}
            {{ page.title }} &middot; {{ site.title }}
        {% endif %}
    </title>

    <link rel="stylesheet" href="{{ site.baseurl }}/public/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,700i,900|Open+Sans:400,400i,600,600i"
          rel="stylesheet">

    <!--
        Body font
        Looks nice: font-size: 20px; line-height: 1.6
    -->
    <!--<link href="https://fonts.googleapis.com/css?family=Arimo" rel="stylesheet">-->


    <!-- RSS -->
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}atom.xml">
</head>
