<section id="mc_embed_signup" class="mar-tb-7">
  <div class="mc-title-container">
    <span class="mc-title-container__main">Once-a-Month Updates</span>
    <span class="mc-title-container__sub">Join 2800+ subscribers</span>
  </div>

  <form class="mc-form" action="//kamranahmed.us9.list-manage.com/subscribe/post?u=6f57b741a6a939744f1f203a0&amp;id=fcfe3e1a27" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

    <input class="mc-form__email" type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Your email :)" spellcheck="false">

    <button class="mc-form__button" type="submit" name="subscribe" id="mc-embedded-subscribe">Subscribe</button>

    <div id="mce-responses" class="clear">
      <div class="response" id="mce-error-response" style="display:none"></div>
      <div class="response" id="mce-success-response" style="display:none"></div>
    </div>

    <div style="position: absolute; left: -5000px;"><input type="text" name="b_6f57b741a6a939744f1f203a0_fcfe3e1a27" tabindex="-1" value=""></div>
  </form>
</section>
