<nav class="nav">
    <div class="nav__left">
        <a href="/">Home</a>
        <a href="/about/">About</a>
    </div>
    
    <div class="nav__right">
        <a target="_blank" href="https://github.com/{{ site.github }}" class="link-github">GitHub</a>
        <a target="_blank" href="https://medium.com/@kamranahmedse" class="link-medium">Medium</a>
        <a target="_blank" href="https://twitter.com/{{ site.twitter }}" class="link-twitter">Twitter</a>
        <a href="mailto:{{ site.email }}" class="link-email">Email</a>
    </div>
</nav>
