{% if page.series %}
<blockquote class="series-info">
    <p>This article is part of the series <strong>{{ page.series.title }}</strong></p>

    <ul>
        {% for post in site.posts reversed %}
            {% if post.series.name == page.series.name %}

            <li>Part {{ post.series.index }} -
                {% if page.url == post.url %}
                    <span class="active-article">{{ post.title }}</span>
                {% else %}
                    <a href="{{post.url}}">{{post.title}}</a>
                {% endif %}
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</blockquote>
{% endif %}

