<div id="mc_embed_signup" style="
    margin-top: 40px;
    margin-bottom: -30px;
"><h3>Subscribe yourself</h3>
    <p>You can subscribe to my blog posts by providing your email below. Your email will be kept safe and there will be no spamming ..Promise!</p>
    
    <form action="//kamranahmed.us9.list-manage.com/subscribe/post?u=6f57b741a6a939744f1f203a0&amp;id=fcfe3e1a27" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate="">
        <div id="mc_embed_signup_scroll">
        
            <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required="" style="
                width: 460px;
                padding: 11px;
                background: #f8f8f8;
                border: 1px solid #444;
                border-radius: 5px;
                margin-right: 10px;
            ">
            
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>

            <div style="position: absolute; left: -5000px;"><input type="text" name="b_6f57b741a6a939744f1f203a0_fcfe3e1a27" tabindex="-1" value=""></div>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" style="
                padding: 10px;
                background: #444;
                color: white;
                border-radius: 5px;
                cursor: pointer;
                font-family: 'lora';
                font-size: 14px;
                font-style: italic;
                border: 2px solid #444;
            ">

        </div>
    </form>
</div>
