<blockquote class="high-note">
    <p>
        Liked it? Follow me on twitter<a target="_blank" href="https://twitter.com/kamranahmedse">@kamranahmedse</a>and<a target="_blank" href="https://twitter.com/intent/tweet?url={{site.url}}{{ page.url }}&text={{ page.title }} by @kamranahmedse">tweet about it</a>
    </p>
</blockquote>

<!--<div class="page-nav">-->
<!--{% if page.next.url %}-->
<!--<a class="left" href="{{page.next.url}}">&larr;{{page.next.title}}</a>-->
<!--{% endif %}-->
<!--{% if page.previous.url %}-->
<!--<a class="right" href="{{page.previous.url}}">{{page.previous.title}} &rarr;</a>-->
<!--{% endif %}-->

<!--<div class="clr"></div>-->
<!--</div>-->
