$background: $gray-lightest;
$comment: #888;
$name: #1b9af7;
$keyword: #37C47B;
$operator: #ed4694;
$error: #ff4351;
$string: #fc880f;
$class: #7b72e9;


code {
  background-color: $background;
  color: $red;
  font-family: $mono;
  letter-spacing: 1px;
}

p, li {
  code {
    padding: 0 3px;
    white-space: nowrap;
  }
}

.highlight {
  margin: 1rem 0;
  background: $background;
  line-height: 123%;
}

pre {
  margin: 0;
  padding: 12px 8px;

  pre {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .lineno { padding-right: 1.5rem; }
}

.highlight, .highlight pre, .highlight code {color: #333; }
.highlight .n { color: $name; } /* name */
.highlight .k { color: $keyword; } /* keyword */
.highlight .o { color: $operator; } /* operator */
.highlight .p {} /* punctuation */
.highlight .c { color: $comment; } /* comment */
.highlight .err { color: $error; } /* error */
.highlight .cm { color: $comment; } /* comment.multiline */
.highlight .cp { color: $comment; } /* comment.preproc */
.highlight .c1 { color: $comment; } /* comment.single */
.highlight .cs { color: $comment; } /* comment.special */
.highlight .gd {} /* generic.deleted */
.highlight .gd .x {} /* generic.deleted.specific */
.highlight .ge {} /* generic.emph */
.highlight .gr { color: $error; } /* generic.error */
.highlight .gh { color: $comment; } /* generic.heading */
.highlight .gi {} /* generic.inserted */
.highlight .gi .x {} /* generic.inserted.specific */
.highlight .go { color: $comment; } /* generic.output */ 
.highlight .gp { color: $comment; } /* generic.prompt */ 
.highlight .gs {} /* generic.strong */
.highlight .gu { color: $comment; } /* generic.subheading */ 
.highlight .gt { color: $error; } /* generic.traceback */ 
.highlight .kc { color: $name; } /* keyword.constant */
.highlight .kd { color: $name; } /* keyword.declaration */
.highlight .kp { /* keyword.pseudo */ color: $name; }
.highlight .kr { /* keyword.reserved */ color: $name; }
.highlight .kt { /* keyword.type */ color: $name; }
.highlight .m { /* literal.number */ color: $operator; }
.highlight .s { /* literal.string */ color: $string; }
.highlight .na { /* name.attribute */ color: $keyword; }
.highlight .nb { /* name.builtin */ color: $name; }
.highlight .nc { background-color: rgba(123,114,233,.05); border-radius: 2px; color: $class; } /* name.class */
.highlight .no { color: $keyword; } /* name.constant */ 
.highlight .ni { color: $class; } /* name.entity */ 
.highlight .ne { color: $operator; } /* name.exception */ 
.highlight .nf { background-color: rgba(123,114,233,.05); border-radius: 2px; color: $class; } /* name.function */
.highlight .nd { color: $operator; } /* name.decorator */ 
.highlight .nn { color: $operator; } /* name.namespace */ 
.highlight .nt { background-color: rgba(27,154,247,.05); border-radius: 2px; color: $name; } /* name.tag */
.highlight .nv { color: $operator; } /* name.variable */
.highlight .nx { background-color: rgba(237,70,148,.05); border-radius: 2px; color: $operator; } /* name.other */
.highlight .ow { color: $operator; } /* operator.word */
.highlight .w { color: $comment; } /* text.whitespace */
.highlight .mf { color: $keyword; } /* literal.number.float */
.highlight .mh { color: $keyword; } /* literal.number.hex */
.highlight .mi { color: $keyword; } /* literal.number.integer */
.highlight .mo { color: $keyword; } /* literal.number.oct */
.highlight .sb { color: $string; } /* literal.string.backtick */
.highlight .sc { color: $string; } /* literal.string.char */
.highlight .sd { color: $string; } /* literal.string.doc */
.highlight .s2 { color: $string; } /* literal.string.double */
.highlight .se { color: $string; } /* literal.string.escape */
.highlight .sh { color: $string; } /* literal.string.heredoc */ 
.highlight .si { color: $string; } /* literal.string.interpol */
.highlight .sx { color: $string; } /* literal.string.other */
.highlight .sr { color: $string; }  /* literal.string.regex */
.highlight .s1 { color: $string; } /* literal.string.single */ 
.highlight .ss { color: #db49d8; } /* literal.string.symbol */
.highlight .bp { color: $operator; } /* name.builtin.pseudo */
.highlight .vc { color: $keyword; } /* name.variable.class */
.highlight .vg { color: $keyword; } /* name.variable.global */
.highlight .vi { color: $keyword; } /* name.variable.instance */
.highlight .il { color: $keyword; } /* literal.number.integer.long */
