// fonts
$sans: 'Lato', -apple-system, Helvetica, Arial, sans-serif;
$serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$mono: 'Roboto Mono', monospace;

// colors
$white: #fff;
$black: #333;
$gray: #888;
$gray-light: #E8E8E8;
$gray-lightest: #FAFAFA;
$green: #00AB72;
$blue: #0087F8;
$red: #FF554A;

// widths
$sm: 544px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

// levels
$l1: 0.8rem;
$l2: 0.67rem;
$l3: 1rem;
$l4: 1.33rem;
$l5: 1.78rem;
$l6: 2rem;
$l7: 3rem;
