<html lang="en">

{% include head.html %}

<body>

    <!-- .page-wrap -->
    <div class="page-wrap">
            
        <!-- .page-header -->
        <div class="page-header">

            <div class="page-top-nav">
                <a href="/">Home</a> / <a href="/about">About</a> / <a href="https://www.dropbox.com/s/a4ne87hs0b3le7r/Web%20Dev%20-%20Resume.pdf?dl=0" target="_blank">Resume</a> / <a href="/atom.xml">Feed</a>
            </div>

            <span class="muted left">{{ site.tagline }}</span>    
            <span class="right">
                <form id="search-form" method="get" action="http://google.com/search" method="get">
                    <input type="text" id="search-box" placeholder="Looking for something?" name="temp_q">
                    <input type="hidden" id="search-hbox" placeholder="Looking for something?" name="as_q">
                </form>
            </span>

            <div class="clr"></div>
        </div>
        <!-- /.page-header -->
        
        <!-- .page-content -->
        <div class="page-content">

            <!-- .articles-area -->
            <div class="articles-area left">
                {{ content }}                
            </div>
            <!-- /.articles-area -->

            {% include comments.html %}

            <!-- .nav-stuff -->
            <div class="nav-stuff right">
               
                <div class="author-info">
                    <img src="{{ site.baseurl }}public/img/kamran.jpg" class="dev-avatar">
                    <div class="clr"></div>
                    <span class="author-detail">{{ site.author.description }}</span>
                </div>
    
                <!-- .side-nav -->
                <ul class="side-nav">
                    <li class="nav-head">Stay in touch</li>

                    {% for page in site.external_links %}
                      <li><a target='_blank' href="{{ page[1]  }}">{{ page[0] }}</a></li>
                    {% endfor %}
                </ul>
                <!-- /.side-nav -->

            </div>
            <!-- /.nav-stuff -->
            
            <div class="clr"></div>
            
        </div>
        <!-- /.page-content -->
    
        <div class="site-footer">
            <span class="muted">&copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.</span>
        </div>

    </div>
    <!-- /.page-wrap -->

    <script type="text/javascript" src="{{ site.baseurl }}public/js/highlight.pack.js"></script>
    <script type="text/javascript">
        hljs.initHighlightingOnLoad();

        document.forms["search-forms"].onsubmit  = function(){
           document.getElementById('search-hbox').value = document.getElementById('search-box').value + ' site:http://kamranahmed.info';
        }
    </script>
    {% include google_analytics.html %}
</body>
</html>