<html lang="en">

{% include head.html %}

<body>

{% if page.layout == 'post' %}
<div class="article-page-nav">
    <h3 class="left"><a href="/">kamran ahmed</a></h3>
    <div class="right">
        <div class="post-navigation">
            <h3>
                <a class="post-nav-btn" href="/">Articles</a>
                <a target="_blank" class="post-nav-btn" href="http://github.com/kamranahmedse"> Github</a>
            </h3>
        </div>
    </div>
    <div class="clr"></div>
</div>
{% endif %}

<!-- .page-wrap -->
<div class="page-wrap">
    <!-- .page-content -->
    <div class="page-content">

        <!-- .articles-area -->
        <div class="articles-area">
            {{ content }}
        </div>
        <!-- /.articles-area -->

        {% include comments.html %}
    </div>
    <!-- /.page-content -->

    <div class="site-footer">
        <span class="muted">&copy;
            <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>. All rights reserved.</span>
        <p class="muted">If you've got any feedback, comments or just want to chat you can get in touch via <strong><a
                href="mailto:kamranahmed.se@gmail.com">email</a></strong> or via <strong><a
                href="#">+971568313042</a></strong>. Also, here are
            the links to my <strong><a href="http://github.com/kamranahmedse">github</a></strong> and <strong><a
                    href="http://pk.linkedin.com/in/kaamranahmed">linkedin</a></strong> profiles.</p>
    </div>
</div>
<!-- /.page-wrap -->

<script type="text/javascript" src="{{ site.baseurl }}public/js/highlight.pack.js"></script>
<script type="text/javascript">
    hljs.initHighlightingOnLoad();
</script>
{% include google_analytics.html %}
</body>
</html>
