---
layout: default
---

<div class="post-item">

    <h1>{{ page.title }}</h1>

    <div class="post-meta">
        Posted by <strong>Kamran Ahmed</strong> on <strong>{{ page.date | date_to_long_string }}</strong>
    </div>

    {% if page.series %}

    <blockquote class="series-info">
        <p>This article is part of the series <strong>{{ page.series.title }}</strong></p>

        <ul>
            {% assign count = '0' %}
            {% for post in site.posts reversed %}
            {% if post.series.title == page.series.title %}
            {% capture count %}{{ count | plus: '1' }}{% endcapture %}
            <li>Part {{ count }} -
                {% if page.url == post.url %}
                <span class="active-article">{{ post.title }}</span>
                {% else %}
                <a href="{{post.url}}">{{post.title}}</a>
                {% endif %}
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </blockquote>

    {% endif %}

    <div class="post-body">
        {{ content }}

        {% include twitter_plug.html %}
        {% include subscription_form.html %}
    </div>
</div>

{% include comments.html %}
